<section class="pb-32 bg-white font-poppins overflow-hidden">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-20">

        <div class="relative pt-24 lg:pt-32">

            <div class="relative bg-gradient-to-t from-[#8BCEFF]/90  to-[#E8F2FA] rounded-2xl px-24 py-12">

                <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center min-h-[260px]">

                    <div class="z-10 max-w-md">
                        <h2 class="text-3xl font-semibold text-gray-900 leading-tight mb-4">
                            Take the First Confident<br>Step Toward Better Health
                        </h2>
                        <p class="text-gray-600 text-sm  mb-7">
                            Start your journey to better health with Pulse Point. From booking appointments to accessing
                            lab reports and managing mediclaim, we make healthcare simple, reliable, and stress-free.
                        </p>
                        <button
                            class="bg-[#1a7fd4] hover:bg-[#0276C9] text-white text-sm font-semibold px-4 py-3 rounded-full transition-colors shadow-md">
                            Book Appointment
                        </button>
                    </div>

                    <div class="hidden lg:block"></div>
                </div>

                <img src="nurse.png" alt="Nurse"
                    class="hidden lg:block absolute right-24 bottom-0 h-[450px]  w-auto object-contain pointer-events-none" />

            </div>

        </div>
    </div>
</section>